@media screen and (max-width: 1024px) {
    header {
        justify-content: space-between;
        padding: 0 20px;
        box-sizing: border-box;
        height: 76px;
        width: 100%;
    }
    h1 {
        width: 92px;
        height: 28px;
        background-size: 92px, 28px;
    }
    header ul {
        display: none;
    }
    button {
        font-size: 14px;
        padding: 10px 24px;
        height: 40px;
    }
    .menu-btn {
        display: inline;
    }
    .m-menu-btn {
        padding: 0;
        width: 32px;
        height: 32px;
        background: none;
    }
    .m-menu {
        position: absolute;
        right: 0;
        /* right: -70vw; */
        top: 0;
        width: 70vw;
        max-width: 600px;
        height: 100vh;
        background-color: #263140;
        display: flex;
        display: none;
    }
    .m-menu-list {
        padding: 120px 0 0 0;
        color: #fff;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .m-menu .m-menu-btn {
        padding: 22px;
        width: 32px;
        height: 32px;
        border-radius: 0;
        background: none;
    }
    .m-menu-list button {
        margin-top: 20px;
    }

    /* main banner */
    .banner {
        height: 718px;
        gap: 30px;
        padding: 0;
        align-items: center;
        justify-content: start;
        padding: 40px 0 0 0;
        overflow: hidden;
    }
    .banner .title {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 700;
        text-align: center;
        margin: 0 20px;
    }
    .banner .text {
        font-size: 16px;
        line-height: 1.4;
        text-align: center;
        margin: 0 20px;
    }
    .banner button {
        width: 140px;
    }
    .banner img {
        position: relative;
        width: 197px;
        height: 422px;
        bottom: 0;
        left: 0;
    }

    /* cat info */
    .cat-info {
        flex-direction: column;
        gap: 40px;
        margin: 40px 32px 60px 32px;
    }
    .cat-info img {
        width: 326px;
        height: 190px;
        border-radius: 18px;
        box-shadow: 10px 10px 20px 0px #00000040;
    }
    .cat-info .text-wrap {
        gap: 20px;
    }
    .cat-info .title {
        font-size: 24px;
    }
    .cat-info .text {
        font-size: 14px;
    }

    /* cat gallery */
    .cat-gallery {
        padding: 0 32px;
    }
    .cat-gallery .title {
        font-size: 24px;
    }
    .cat-gallery .text {
        font-size: 16px;
        margin: 30px 0 40px;
    }
    .img-wrap {
        justify-content: left;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        gap: 20px;
    }
    .img-wrap::-webkit-scrollbar {
        display: none;
    }
    .img-wrap img {
        width: 260px;
        height: 260px;
        border-radius: 18px;
    }
    .more {
        flex-direction: column;
        gap: 30px;
        margin: 60px 0 50px;
        align-items: end;
    }

    /* subscribe */
    .subscribe-wrap {
        padding: 36px 32px;
        border-radius: 18px;
        flex-direction: column;
        gap: 30px;
        margin: 0 32px;
    }
    .subscribe-wrap .text-wrap {
        gap: 20px;
    }
    .subscribe-wrap .text-wrap .title {
        font-size: 24px;
    }
    .subscribe-wrap .text-wrap .text {
        font-size: 14px;
    }
    /*  */
    form {
        width: 100%;
        padding-bottom: 54px;
    }
    .email-wrap {
        gap: 14px;
        padding: 0 16px;
        width: 100%;
        height: 40px;
    }
    .email-btn {
        position: absolute;
        right: 32px;
        bottom: 30px;
        transform: translate();
    }
    label img {
        width: 18px;
        height: 18px;
    }
    .subscribe-bg-wrap {
        position: relative;
        padding-bottom: 170px;
    }
    .bg-img {
        position: absolute;
        width: 100%;
        height: 240px;
        object-fit: cover;
        z-index: -1;
        bottom: 0;
    }

    /* footer */
    footer {
        position: relative;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        padding: 30px 20px;
        height: 180px;
    }
    .logo {
        width: 112px;
        height: 34px;
        background-size: 112px, 34px;
    }
    footer ul {
        gap: 16px;
    }
    footer ul li img {
        width: 32px;
        height: 32px;
    }
    .m-footer {
        bottom: 30px;
        right: 20px;
        text-align: right;
        color: #767676;
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 16px;
    }

    /* modal */
    .modal-content {
        width: 300px;
        height: 300px;
        background-size: 300px, 200px;
        padding: 40px 0 30px;
    }
    .modal-title {
        font-size: 24px;
    }
    .modal-title::before {
        background-size: 60px, 62px;
        width: 60px;
        height: 62px;
    }
    .modal-text {
        margin: 10px 0 28px;
        padding: 0 24px;
    }
}
