header {
    width: 100%;
    position: fixed;
    z-index: 1;
    transition: top 0.3s ease-in-out;
    background-color: #fff;
    padding: 16px 0;
}
header nav {
    display: flex;
    max-width: 1760px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.logo {
    width: 210px;
    height: 40px;
    background: url(../../images/logo.svg);
    background-size: 210px 40px;
}
header button {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.header-modal {
    position: absolute;
    width: 250px;
    top: 100px;
    right: 4%;
    padding: 16px;
    border-radius: 12px;
    background: #fff;
}
.header-modal li {
    padding: 12px;
    border-radius: 8px;
}
.header-modal li a {
    display: flex;
    justify-content: space-between;
}
.header-modal li:hover {
    color: #ff6543;
    background: #fff2ce;
}
.icon-32 {
    width: 32px;
}

@media screen and (max-width: 480px) {
    header nav {
        max-width: 440px;
    }
    header a {
        width: 105px;
        height: 20px;
        background-size: 105px 20px;
    }
    header button {
        padding-right: 32px;
    }
    header button::after {
        top: -6px;
    }
}
