@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');

body {
    font-family: 'Pretendard';
    line-height: 1;
    color: #222;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #f5f5f5;
}
h1 {
    font-size: 18px;
}

/* list */
.list-cont {
    padding: 20px;
}
.list {
    display: flex;
    padding: 4px 0px;
    gap: 8px;
}
.list input[type='checkbox'] {
    display: none;
}
.list label {
    flex: 1 0 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
}
.list label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

/* input */
